<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Варианты выбора</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <h1>Моё предложение: {{planet}}</h1>
    <h3>{{reason0}};</h3>
    {% if reason1 %}
    <div class="alert alert-success" role="alert">
        {{reason1}};
    </div>
    {% endif %}
    {% if reason2 %}
    <div class="alert alert-dark" role="alert">
        {{reason2}};
    </div>
    {% endif %}
    {% if reason3 %}
    <div class="alert alert-warning" role="alert">
        {{reason3}};
    </div>
    {% endif %}
    {% if reason4 %}
    <div class="alert alert-danger" role="alert">
        {{reason4}};
    </div>
    {% endif %}
</body>

</html>