<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Результаты</title>
</head>

<body>
    <h1>Результаты отбора</h1>
    <h3>Претендента на участие в миссии {{nickname}}</h3>
    <div class="alert alert-success" role="alert">
        Поздравляем! Ваш рейтинг после {{level}} этапа отбора
    </div>
    Составляет {{rating}}!
    <div class="alert alert-warning" role="alert">
        Желаем удачи!
    </div>
</body>

</html>